@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

html, body, .App {
  background-color: rgb(233, 236, 241);
  height: 100%;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#header {
  background-color: #0275d8	;
  height: 50px;
  display: table-cell;
  vertical-align:middle; 
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  text-align: center;
  Button {
    background-color: white;
    color: black;
    border-color: white;
  }
}

.logo{
  float: left;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto" ;
  margin-left: 20px;
}

.Search {
    width: 50%;
    height: 100%;
    float: right;
    margin-right: 10px;
    Input {
     // float: right;
      width: 30%;
      right: 0;
     // height: 100%;
    }
}


.Content {
  padding-left: 5%;
  padding-right: 5%;
  flex-grow:1; 
}

.Categories {
    width: 25%;
    float: left;
    height: 100%;
    padding: 10px;
}

.Products {
    padding: 1%;
    width: 75%;
    float: right;
    height: 100%;
}
